<!-- Button trigger modal -->
<a class="add_button" data-toggle="modal" data-target="#add_person" title="Add <%= as %>">
    <i class="fa fa-plus"></i>
</a>

<!-- Modal -->
<div class="modal fade" id="add_person" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Add <%= as %></h4>
      </div>
      <div class="modal-body">
        <%= render partial: '/people/form', locals:{person:person, owner:owner, as:as} %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          <i class="fa fa-remove fa-lg"></i> Close
        </button>
      </div>
    </div>
  </div>
</div>