<div class="row page-header">
  <div class="span0">
  <h3>Person info</h3>
  </div>
  <div class="span0">
    <h3>
      <%= link_to edit_person_path(@person, ref:request.path), :class => 'edit_button' do %>
        <span class="fa fa-pencil"></span>
      <% end %>
      
      <%= link_to people_path, :class => 'delete_button' do %>
        <span class="fa fa-list"></span>
      <% end %>
    </h3>
  </div>
</div>

<p id="notice"><%= notice %></p>

<%= render partial: '/people/show', locals: {person: @person} %>

<div class="children_list tabbable tabs-left">
  <ul class="nav nav-tabs">
  </ul><!-- end-of-tabs -->
  <div class="tab-content">
  </div><!-- end-of-contents -->
</div><!--end-children-list -->
