<!-- Button trigger modal -->
<button class="btn btn-default btn-lg" data-toggle="modal" data-target="#edit_family_<%= family.id %>" title="edit">
    <span class="fa fa-pencil"></span>
</button>


<!-- Modal -->
<div class="modal fade" id="edit_family_<%= family.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Edit family</h4>
      </div>
      <div class="modal-body">
        <%= render partial: '/families/form', locals: {family: family} %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>