<div id = "body_text" class="small-container">

<br>
Your online privacy is important to us. To better protect your privacy we provide this notice explaining our online information practices and the choices you can make about the way your information is collected and used.
<br><br>
LockItTight.com has created this privacy statement (effective February 10, 2010) in order to demonstrate our firm commitment to privacy. The following discloses the information gathering and dissemination practices for this web site: www.LockItTight.com/
<br><br>
We are not responsible for pages that are not within the LockItTight.com domain.
<br><br>
Our privacy statement covers:
<br><br>

    <ul>
    <li>LockItTight.com provides a link to this Privacy Statement on all pages that ask for personal information</li>
    <li>LockItTight.com will not release personal identifying information about you without first obtaining consent</li>
    <li>The information we collect </li>
    <li>Our use of your information</li>
    <li>How to change or deactivate your information</li>
    </ul>

When you visit LockItTight.com, we may collect general information that will not personally identify you, such as:
<br><br>
    <ul>
    <li>Internet browser</li>
    <li>Operating system</li>
    <li>Date of visit</li>
    <li>Time of visit</li>
    <li>Path taken through the site</li>
    </ul>

This information alone does not identify an individual and we will not combine it with information that does identify you as an individual.
<br><br>
Personally identifiable information is defined as any personal information that could identify you, such as your name, address, telephone number, billing information, credit card information, or email address.
<br><br>
In general, when you visit LockItTight.com, you do not have to tell us who you are, or reveal any personally identifiable information. Because we take your privacy seriously, we will not collect any personally identifiable information unless you voluntarily provide it. At no time during your visit to LockItTight.com should you feel obligated to reveal any personal information to LockItTight.
<br><br>
We may disclose personally identifiable information to third parties if you consent to the disclosure, if we are compelled or authorized to do so by law, or if we reasonably believe there is a threat to someone's life or health. Personally identifiable information submitted for employment purposes will only be used in connection with the application process. It will not be used or disclosed for any other purposes unless required or authorized by law.
<br><br>
Our site's registration form requires users to give us contact information (like their name and email address) and demographic information (like their country, zip code, etc.).
<br><br>
We may use customer contact information from the registration form to:
<br><br>
1. send you information about our company and promotional material from some of our partners and
2. contact you when necessary
<br><br>
We may use "cookies" to gather statistical information that helps us understand what you find interesting and useful on our web site. Cookies are also used for identification of known users.
<br><br>
This site contains links to other sites. LockItTight.com is not responsible for the privacy practices or the content of Web sites to which we link. We have special business relationships with some companies, but none of them receive individual identifying information about you collected at LockItTight.com.
<br><br>
We are committed to maintaining the security of the data we collect and protecting it from loss, misuse, or alteration. This applies to demographic information, client site usage information, and personally identifiable information. We store the data collected on secure LockItTight.com servers that can be accessed only by authorized LockItTight.com personnel.
<br><br>
To safeguard all information collected, LockItTight.com and all of its employees follow the practices in this policy. No one is permitted to access or use information for any purpose other than those explained in this policy.
<br><br>
If you would like to change or deactivate the information you have submitted, please send a request here:  admin (AT) LockItTight.com (Please replace AT with @). LockItTight will change or de-activate any information that could be used to identify you as soon as possible after your request, unless there we are required or authorized by law not to do so. Once de-activated your data will not be accessible, however due to limitations imposed by the nature of the service offered, LockItTight service will not be useful and will have to be discontinued. In that case, your account will have to be canceled and if you are a subscriber of a premium plan, then there would not be any refund issued.
<br><br>
To fully protect your privacy, we reserve the right to amend this policy at any time, and for any reason. We will post the amended terms on this Web site as they occur and encourage you to frequently check for updates.
<br><br>
Nothing contained in this policy is intended to create a contract or agreement between LockItTight and any user providing identifiable information in any form.
<br><br>
We will take all necessary steps to comply with this privacy policy, however, to the extent permitted by law, nothing in this policy is intended to hold LockItTight liable for any failure to comply with this policy.
<br><br>
If you have any questions about this privacy statement, the practices of this site, or your dealings with this Web site, you can contact us at admin (AT) LockItTight.com (Please replace AT with @).
<br><br>

</div>


<% content_for(:page_title) do %>
  <h1>Privacy Policy</h1> 
  <% @page_title = "Privacy notice" %>
<% end %>
