<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Dear <%= @family.names %>,</p>
    <p>
      You have successfully updated your family's family for the CBCSD Central Campus directory. 
      Again, it will not be available online, but for the printed directory only. 
    </p>
    
    <p>
      To view your family info or make changes, just follow this link:<br />
      <%= @url %>    </p>
    <p>Thanks and have a blessed day! </p>
    <p>向前</p>
  </body>
</html>

