<table style="font-size: 20px" width="100%">
	<%= render :partial => 'show', :locals => {:contact => @contact, :photo => true, :links => true} %>  
</table>

<%= content_for :subheader do %>
  <h1>中区主恩堂2015通讯录更新   CBC Central Campus Directory Update</h1>
<% end %>

For printed directory only. For privacy reasons, the directory will not be available online