<div class="well">
  <dl class="dl-horizontal">

  <% attributes.reject(&:password_digest?).each do |attribute| -%>

    <dt><%= attribute.human_name -%></dt>
    <dd><%%= <%= singular_table_name %>.<%= attribute.name %> -%></dd>

  <% end -%>

  </dl>
</div>

