<div class="row page-header">
  <div class="span0">
  <h3>Role info</h3>
  </div>
  <div class="span0">
    <h3>
      <%= link_to edit_role_path(@role, ref:request.path), :class => 'btn btn-default' do %>
        <span class="icon icon-pencil"></span>
        Edit
      <% end %>
      
      <%= link_to roles_path, :class => 'btn btn-default' do %>
        <span class="icon icon-list"></span>
        List
      <% end %>
    </h3>
  </div>
</div>

<p id="notice"><%= notice %></p>

<%= render partial: '/roles/show', locals: {role: @role} %>

