<table data-role="table" id="movie-table" data-mode="reflow" class="ui-responsive" style="margin-left: 0px">
  <thead>
    <tr>
      <th data-priority="1"></th>
      <th data-priority="persist"></th>
    </tr>
  </thead>

  <tbody class="lesson_body">
     
      <tr>
        <td>
          <a href="http://jgospel.net/">
          <img src="http://freefuyin.com/images/links/jgospel.png" width="339"></a> 
        </td>
        <td>
          福音站以基督耶稣为中心，特别针对使用网络去推动神的国度。 以年青网中年青的一代为目标, 将各地的信徒与非信徒连起来, 以信心彼此建立。
        </td>
      </tr>
      <tr><td height="50"></td></tr>

      <tr>
        <td>
          <a href="http://www.pastorgrace.us/473">
          <img src="http://freefuyin.com/images/links/pastor-grace.png"></a> 
        </td>
        <td>
          江秀琴牧师早期於1996年教导内在生活。於2005年起，江牧师在美国慕主训练中心重新诠释 “新内在生活课程”(讚美及等候神除外)。新的内在生活课程不但更为进深，同时也融入江牧师多年的精髓和开啓。
        </td>
      </tr>
      <tr><td height="50"></td></tr>


      <tr>
        <td>
          <a href="http://www.lifechurchmissions.com">
          <img src="http://freefuyin.com/images/links/life-church-sg.jpg"></a> 
        </td>
        <td>
          "我不以福音为耻； 这福音本是神的大能，要救一切相信的，先是犹太人，后是希利尼人 。" （罗 1:16） 一群拥有同样异象的平信徒成立了新加坡基督生命堂。 生命堂深信神在圣经里的每一个应许都是赐给每一位神儿女的。所以，这些应许的印证成为生命堂的信息以及见证的着重点。 本网站<a href="/a/23">部分资料</a>是来自新加坡基督生命堂。若有何疑问，可以通过我们与他们接洽。
        </td>
      </tr>
      <tr><td height="50"></td></tr>
  
  
      </tbody>
  </table>
