    <h1>
      <%= category.name.t session[:locale] -%>
      <% if admin? %>
        <%= link_to edit_category_path(category, ref:request.path), :class => 'edit_button' do %>
          <span class="fa fa-pencil fa-sm"></span>
        <% end %>
      <% end %>
    </h1>

